<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://c1.wallpaperflare.com/preview/987/561/228/stores-geek-bus-futuristic.jpg"
    alt=""
    height="265px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Peças de decorações feitas a mão no melhor estilo geek.</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Peças de decorações no melhor estilo geek txt small
      Aqui você encontra peças de decoração para sua casa no melhor estilo geek.São produtos de alta qualidade e
      com um preço acessível.Peças feita em impressão em 3D, EVA, Biscuits e muito mais. Venha conferir!
      </a>
    </p>
  </div>
</div>
