<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
      src="https://www.purearts.com/cdn/shop/files/DSC00916_53_-LL_f8ef98cf-7ca5-4c52-a5a8-ee0c3c72bfb8.jpg?v=1714604340"
      alt=""
      >
    </div>
    <div class="small-card__title">
      <h1><a href="#">Peças de decorações feitas a mão no melhor estilo geek.</a></h1>
    </div>
  </div>

  <div class="container__small-card-separator">
    <hr>
  </div>
</div>
