
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://c1.wallpaperflare.com/preview/987/561/228/stores-geek-bus-futuristic.jpg"
    cardTitle="Peças de decorações feitas a mão no melhor estilo geek."
    cardDescription="Aqui você encontra peças de decoração para sua casa no melhor estilo geek.São produtos de alta
    qualidade e com um preço acessível.Peças feita em impressão em 3D, EVA, Biscuits e muito mais. Venha conferir!">
    </app-big-card>

  </div>

    <div class="articles__others">
    <app-small-card
    cardTitle="Figure Action das personagens Vi e Jinx do jogo League of Legends."
    photoCover="https://www.purearts.com/cdn/shop/files/DSC00916_53_-LL_f8ef98cf-7ca5-4c52-a5a8-ee0c3c72bfb8.jpg?v=1714604340"
    >
    </app-small-card>

    <app-small-card
    cardTitle="Akumas no mi de One Piece, feita com biscuit."
    photoCover="https://i.ytimg.com/vi/4mh1NVrRrA8/maxresdefault.jpg"
    >
    </app-small-card>

    <app-small-card
    cardTitle="Paraiso pokemon, feito em impressão 3D."
    photoCover="https://http2.mlstatic.com/D_NQ_NP_894721-MLB77278703604_072024-O.webp"
    >

    </app-small-card>
  </div>
</div>
